*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#000;
overflow:hidden;
color:white;
}

#loader{
position:fixed;
width:100%;
height:100%;
background:#000;
display:flex;
justify-content:center;
align-items:center;
font-size:32px;
font-family:'Cinzel',serif;
color:#FFD700;
z-index:9999;
animation:fadeOut 3s forwards;
animation-delay:2s;
}

@keyframes fadeOut{
to{
opacity:0;
visibility:hidden;
}
}

#door-section{
position:fixed;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(180deg,#000,#1a1a1a);
}

.door-container{
position:relative;
width:320px;
height:520px;
perspective:1200px;
}

.left-door,
.right-door{
position:absolute;
width:50%;
height:100%;
background:linear-gradient(180deg,#111,#000);
border:3px solid gold;
transition:2s;
}

.left-door{
left:0;
transform-origin:left;
}

.right-door{
right:0;
transform-origin:right;
}

#openDoor{
position:absolute;
bottom:-80px;
left:50%;
transform:translateX(-50%);
padding:16px 40px;
font-size:20px;
background:gold;
border:none;
border-radius:50px;
cursor:pointer;
font-weight:bold;
}

#surprise{
display:none;
position:fixed;
width:100%;
height:100%;
background:radial-gradient(circle,#2b0000,#000);
text-align:center;
padding-top:70px;
overflow:hidden;
}

.title{
font-size:60px;
color:#FFD700;
font-family:'Cinzel',serif;
}

.name{
font-size:42px;
margin-top:20px;
color:#ff4d6d;
}
